<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Programs</title>
		<link rel="stylesheet" href="../../assets/css/bootstrap-grid.css">
		<link rel="stylesheet" href="../../assets/css/bootstrap-reboot.css">
		<link rel="stylesheet" href="../../assets/css/bootstrap.css">
		<link rel="stylesheet" href="../../assets/css/style.css">
	</head>
	<body>
		<section class="secondSection">
			<div class="row m-0 justify-content-center border-bottom border-secondary">
				<div class="col-md-8">
					<h1 class="pb-4 pt-4">MPhil in Development Studies</h1>
					<img class="img-fluid" src="../../assets/images/study.jpg"/>
					<p>The two-year MPhil in Development Studies will provide you with a rigorous and critical introduction to development as a process of managed and unmanaged change in societies in the global South. Our students go on to careers in development policy or practice or for further study in the field.
						The course will introduce you to development studies as an interdisciplinary and multidisciplinary subject. It covers the intellectual history of development, the paradigm shifts and internal conflicts within the discipline and the contemporary relevance of research to development policy and practice.
						You will also follow a course in research methods for the social sciences, comprising sessions on research design and qualitative and quantitative methods. Thesis workshops offer preparation for your research. Additional sessions will be held on aspects of fieldwork ethics and safety, library resources and software and computerised databases.
					</p>
				</div>
			</div>
			<div class="row m-0 justify-content-center border-bottom border-secondary">
				<div class="col-md-8">
					<h1 class="pb-4 pt-4">MSt in Diplomatic Studies</h1>
					<img class="img-fluid" src="../../assets/images/studyend.jpg" alt="studyend-image">
					<p>The Diplomatic Studies Programme aims to equip each of its members with the knowledge and skills required for diplomacy in today and tomorrow’s world, and the confidence on which to base a successful diplomatic career within a foreign ministry, international organisation or elsewhere. The programme celebrated its 50th anniversary in 2019 and its alumni occupy a large number of senior posts in the diplomatic field.

						The DSP is a programme for professionals. It is specifically designed for early- to mid-career diplomats, and a large proportion of its members are established diplomats, who return to their diplomatic careers after the course. Some are nominated by their Foreign Ministries to attend. A few non-diplomats with relevant academic background and professional experience are included. Members come from an extremely broad range of countries, and one of the attributes of the course is the extensive opportunity it offers to share and learn from peers' experiences and perspectives.
					</p>
				</div>
			</div>
			<div class="container p-5">
				<div class="nav justify-content-center">
					<a href="programs.html">Programs</a>
					<a href="student-table.html">Student table</a>
					<a href="gallery.html">Gallery</a>
					<a href="contact-us.html">Contact Us</a>
				</div>
			</div>
		</section>

		<script type="text/javascript" src="../../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
		<script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
		<script src="https://kit.fontawesome.com/23c997c174.js" crossorigin="anonymous"></script>
	</body>
</html>