<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Student-table</title>
		<link rel="stylesheet" href="../../assets/css/bootstrap-grid.css">
		<link rel="stylesheet" href="../../assets/css/bootstrap-reboot.css">
		<link rel="stylesheet" href="../../assets/css/bootstrap.css">
		<link rel="stylesheet" href="../../assets/css/style.css">
	</head>
	<body>
		<section class="thirdSection row m-0 align-items-center">
			<div class="container">
				<h1 class="text-center p-4">Student table</h1>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Second Name</th>
							<th scope="col">Data</th>
							<th scope="col">Telephone</th>
							<th scope="col">Education</th>
							<th scope="col">Job</th>
						</tr>
					</thead>
					<tr>
						<td>John</td>
						<td>Varvatos</td>
						<td>2002</td>
						<td>+700 800 900 1111</td>
						<td>higher education</td>
						<td>Еngineer</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Varvatos</td>
						<td>2002</td>
						<td>+700 800 900 1111</td>
						<td>higher education</td>
						<td>Еngineer</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Varvatos</td>
						<td>2002</td>
						<td>+700 800 900 1111</td>
						<td>higher education</td>
						<td>Еngineer</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Varvatos</td>
						<td>2002</td>
						<td>+700 800 900 1111</td>
						<td>higher education</td>
						<td>Еngineer</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Varvatos</td>
						<td>2002</td>
						<td>+700 800 900 1111</td>
						<td>higher education</td>
						<td>Еngineer</td>
					</tr>
					<tr>
						<td>John</td>
						<td>Varvatos</td>
						<td>2002</td>
						<td>+700 800 900 1111</td>
						<td>higher education</td>
						<td>Еngineer</td>
					</tr>
				</table>
			</div>
			<div class="container p-5">
				<div class="nav justify-content-center">
					<a href="programs.html">Programs</a>
					<a href="student-table.html">Student table</a>
					<a href="gallery.html">Gallery</a>
					<a href="contact-us.html">Contact Us</a>
				</div>
			</div>
		</section>

		<script type="text/javascript" src="../../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../../assets/js/bootstrap.bundle.js"></script>
		<script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
		<script src="https://kit.fontawesome.com/23c997c174.js" crossorigin="anonymous"></script>
	</body>
</html>